<?xml version="1.0"?>
<launch>
    <arg name="_uav_idx" value="6" />
    <arg name="_fcu_url" value="/dev/ttyAML0:230400" />
    <arg name="_gcs_url" value="udp://@192.168.31.193" /> <!-- zt laptop -->
    
    <group ns="drone$(arg _uav_idx)">
        <include file="$(find mavros)/launch/px4.launch">
            <arg name="fcu_url" value="$(arg _fcu_url)" />
            <arg name="gcs_url" value="$(arg _gcs_url)" />
            <arg name="tgt_system" value="$(arg _uav_idx)" />
        </include>

    </group>
    
</launch>
